/*--- so h-100 and vertical centering will work ---*/
html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/*--- from Bulma css framework centers fontawsome icons and ensures consistant size ---*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

 /*--- maintains uppercase when we want to call attention to something ---*/
.logo-font {
    text-transform: uppercase;
}

/*--- makes the logo take up as much room as the text, and no more ---*/
.main-logo-link {
    width: fit-content;
}
 /*--- keep buttons consistant through out ---*/
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
 /*--- bootstrap does not have these helper classes, important used to ensure items obbey these rules ---*/
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* --- Media Queries ---*/

/*--- Slightly larger container on xl screens ---*/
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/*--- fixed top navbar only on medium and up ---*/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /*--- pushes body down, page header block added in index.html ---*/
    .header-container {
        padding-top: 164px;
    }
}